body {
  font-family: sans-serif;
}
.gallery {
  width: 40vw;
  margin: 0 auto;
  padding: 5vw;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

img {
  width: 25vw;
  aspect-ratio: 1;
  margin-bottom: 30px;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: space-between;
}

.button-style {
  background-color: #0b0b0b;
  border: transparent;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 30px;
}

.star {
  margin-top: 40px;
  text-align: center;
}

.button-wrapper {
  padding: 20px;
}

.output__style {
  margin-top: 20px;
  font-size: 22px;
}
